header{
    background-color: #2C5697;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

h1{
    color: white;
    text-align: center;
    padding: 5px;
}

#logo{
    width: 100px;
    height: 100px;
}

#name{
    display: flex;
    align-items: center;
    flex-grow: 1;
}

a{
    color: white;
    background-color: transparent;
    font-size: larger;
    text-decoration: none;
    margin: 5px;
}

a:hover {
    text-decoration: underline;
}

#content{
    margin: 0px 30px;
    margin-top: 10px;
}